{% extends 'base.html' %}
{% load static %}

{% block title %}Charred Chops | My Reservations{% endblock %}

{% block content %}


<div class="container" id="list-container">

    <div class="row">
        <h1 class="text-center">Manage current bookings</h1>
    </div>

    <div class="row justify-content-center booking-row-split">
        {% if not booking_list %}
        <div class="col text-center">
            <h3>No bookings</h3>
        </div>
        {% else %}
        {% for booking in booking_list %}

        <div class="col-4">
            <a href="{% url 'bookingdetails' booking.slug %}">
                <div class="card bookingCardItem">
                    <div class="card-header">
                        <h5>{{ booking.booking_date }}</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ booking.booking_time }}</h5>
                        <p class="card-text">
                            {% if booking.guest_count >= 2 %}
                            {{ booking.guest_count }} People
                            {% else %}
                            {{ booking.guest_count }} Person
                            {% endif %}
                        </p>
                        <button class="btn detail-button">Click for Details</button>
                    </div>
                </div>
            </a>
        </div>

        <!-- Sets a new row of iterations when loop hits 3 items -->
        {% if forloop.counter|divisibleby:2 %}
    </div> <!-- End row -->

    <div class="row justify-content-center booking-row-split">
        {% endif %}
        <!-- Iterates through more on this row -->
        {% endfor %}
    </div>
    {% endif %}

</div> <!-- End container -->

{% endblock %}