{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Charred Chops | Update Reservation{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container detail-container">
    <div class="row justify-content-center">

        <div class="col-12 col-lg-10 my-4">
            <div class="card detailed-booking-card">

                <div class="card-header text-center">
                    <h1 class="reservation-details-header">Update details</h1>
                </div>

                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6">
                                {{ form.booking_date|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.booking_time|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ form.guest_count|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form.cust_fname|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{ form.cust_lname|as_crispy_field}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ form.comments|as_crispy_field }}
                            </div>
                        </div>

                        <div class="text-center my-4">
                            <button class="btn btn-success" id="update-button" type="submit">
                                Update Details
                            </button>
                            <a href="{% url 'booking_details_page' reservation_item.slug %}" class="btn btn-secondary">
                                Don't Update
                            </a>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div> <!-- End row -->
</div> <!-- End container -->
{% endif %}

{% endblock %}