/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* -------------------------------------------------------------- GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #10222e;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: #f6eddc;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ---------------------- Error pages */
.errors-page {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    text-decoration: underline #ed381f;
}


/* -------------------------------------------------------------- BASE HTML */

/* ---------------------- Header */
header {
    background-color: #10222e;
    position: fixed;
    z-index: 99;
    width: 100vw;
    box-shadow: 0 2px 2px #ed381f;
}

header a {
    text-decoration: none;
    color: #f6eddc;
}


/* ---------------------- Navbar */
.nav-logo {
    width: 250px;
}

#navUL {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    margin: auto;
}

.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

#navUL a:hover {
    border-bottom: 2px solid #ed381f;
}

nav hr {
    opacity: .7;
    margin-bottom: 3px;
    border-bottom: 2px solid #fa1d00;
}

.separator {
    font-size: 110%;
    color: #f6eddc;
}

#book-action-call {
    margin: auto;
}

#toggle-button {
    background-color: #ed381f;
    justify-content: space-between;
}


/* ---------------------- Django messages */
#feedback-msg-container {
    z-index: 10;
}


/* ---------------------- General */
main {
    margin-top: 100px;
    margin-bottom: 30px;
}


/* ---------------------- Footer */
footer {
    background-color: #3a3a3a;
    margin-top: auto;
    color: #f6eddc;
}

footer a {
    text-decoration: underline;
    color: #f6eddc;
}

#logo-bar {
    background-color: #10222e;
    padding-top: 20px;
    padding-bottom: 15px;
    box-shadow: 0px -2px #ed381f;
    border-bottom: 1px outset black;
}

.footer-link-group {
    padding-top: 10px;
}

.footer-link-group li {
    list-style-type: none;
    padding-bottom: 10px;
}

.footer-link-group a:hover {
    text-decoration: none;
    border-bottom: 1px solid #ed381f;
}

#sub-text {
    padding-top: 10px;
}

#github-icon {
    font-size: 200%;
    padding-bottom: 20px;
}


/* -------------------------------------------------------------- HOME */

/* ---------------------- Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../../static/media/steak-img1.png") no-repeat center center / cover;
    position: relative;
}

#cover-text {
    background-color: rgba(237, 56, 31, .7);
    position: absolute;
    bottom: 30px;
    width: 45%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}


/* ---------------------- Who we are */
#who-we-are {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 130%;
    background-color: rgba(237, 56, 31, .8);
    width: 100%;
    box-shadow: 0 0px 15px inset #10222e;
}

#chef-pic {
    width: 300px;
    border-radius: 45%;
    object-fit: contain;
    padding: 2px;
    border: 2px solid #10222e;
    box-shadow: 0px 0px 2px #10222e;

    float: left;

    /* Validator won't recognize this one line
    as it seems to not be widely supported */
    shape-outside: circle(45%);

    margin-right: 50px;
    margin-bottom: 5px;
}

#who-content {
    margin-top: 5px;
    margin-bottom: 20px;
}


/* ---------------------- Call to action */
#call-to-action {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 130%;
}

.action-call {
    margin-top: 30px;
}

#call-to-action a {
    padding: 10px 25px;
    letter-spacing: 2px;
}

#call-to-action p {
    text-decoration: underline #ed381f;
}

#action-call-book {
    margin-top: 100px;
}


/* -------------------------------------------------------------- MENU */
#menu-article {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    text-decoration: underline #ed381f;
}


/* -------------------------------------------------------------- AUTH */

/* ---------------------- Sign up page */
#signup {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
}


/* ---------------------- Log in page */
#login {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
}


/* ---------------------- Log out page */
#logout {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
}


/* -------------------------------------------------------------- BOOK NOW */

/* ---------------------- Contact details */
#contact-article {
    margin-top: 40px;
    margin-bottom: 30px;
}

#contact-article strong {
    text-decoration: underline 2px #fa1d00;
}

.contact-info {
    font-size: 130%;
}

.contact-info a {
    text-decoration: underline blue;
    color: black;
}

.click-me {
    font-size: .8em;
}


/* ---------------------- Location / Map */
#location-article {
    background-color: rgba(237, 56, 31, .8);
    font-size: 130%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 0px 10px inset #10222e;
}

#map-embed-container {
    width: fit-content;
    padding: 5px;
    padding-bottom: 0px;
    border: 2px solid #10222e;
    border-radius: 10px;
}

#map-embed {
    border-radius: 10px;
    width: 460px;
    height: 250px;
}


/* ---------------------- Form */
#form-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

#form-section h2 {
    margin-bottom: 30px;
}

#booking-form {
    margin: auto;
}


/* -------------------------------------------------------------- MY BOOKINGS */

/* ---------------------- List items */
#list-container {
    margin-top: 40px;
    margin-bottom: 30px;
}

#list-container h1 {
    margin-bottom: 20px;
}

#list-container a {
    text-decoration: none;
}

.card {
    height: 220px;
}

.card-header {
    background-color: #10222e;
    color: #fffee1;
    font-weight: 500;
    border-bottom: 2px solid #ed381f;
}

.card-header>h5 {
    margin: 0;
    padding: .5rem;
}

.card-body {
    background-color: #ffffffd0;
}

.see-detail-button {
    position: absolute;
    right: 30px;
    background-color: #10222e;
    color: #fffee1;
}

.drop-shadow {
    box-shadow: 5px 6px rgb(112, 112, 112);
}


/* ---------------------- Detailed view */
#booking-details {
    margin-top: 50px;
}

.detailed-booking-card {
    height: fit-content;
    border: 5px solid #3a3a3a;
    border-radius: 0.825rem;
}

.detailed-booking-card .card-header {
    border-bottom: 3px solid #ed381f;
}

.reservation-details-header {
    color: #f6eddc;
}


/* -------------------------------------------------------------- MEDIA QUERIES */
@media screen and (max-width:320px) {
    /* ---------------------- Edit form */
    #update-button {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:373px) {
    /* ---------------------- Detailed view */
    #delete-button {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:567px) {
    /* ---------------------- Base HTML */
    .nav-logo {
        width: 200px;
    }

    main {
        margin-top: 89px;
    }

    /* ---------------------- Home */
    #who-content {
        text-align: center;
    }

    /* ---------------------- Booking */
    #map-embed-container {
        border: none;
    }

    #map-embed {
        width: 250px;
    }

    /* ---------------------- Sign up */
    #signup {
        margin-left: 0px;
    }
    
    /* ---------------------- Log in */
    #login {
        margin-left: 0px;
    }
    
    /* ---------------------- Log out */
    #logout {
        margin-left: 0px;
    }
}

@media screen and (max-width:768px) {
    /* ---------------------- Home */
    #action-call-book {
        margin-top: 35px;
    }

    .action-call {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:991px) {
    /* ---------------------- Base HTML */
    .separator {
        display: none;
    }

    .nav-item {
        margin-top: 10px;
    }

    /* ---------------------- Home */
    #book-action-call {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:1199px) {
    /* ---------------------- Booking */
    #map-embed-container {
        margin: auto;
    }
}