/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');


/* -------------------------------------------------------------- General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #10222e;
    font-family: 'Lato', sans-serif;
    background-color: #f6eddc;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}


/* -------------------------------------------------------------- Base HTML */

/* ---------------------- Header */
header {
    background-color: #10222e;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #ed381f;
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
}

header a {
    text-decoration: none;
    color: #f6eddc;
}


/* ---------------------- Navbar */
nav {
    position: absolute;
    background-color: #10222e;
    width: 60%;
}

#navUL {
    display: flex;
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    justify-content: center;
}

#navUL>li {
    padding-left: 1rem;
}

#navUL a:hover {
    border-bottom: 1px solid #ed381f;
}

.separator {
    font-size: 110%;
    color: #f6eddc;
}


/* ---------------------- Footer */
footer {
    background-color: #3a3a3a;
    margin-top: auto;
    color: #f6eddc;
}

footer a {
    text-decoration: underline;
    color: #f6eddc;
}

#logo-bar {
    background-color: #10222e;
    padding-top: 20px;
    padding-bottom: 15px;
    box-shadow: 0px -2px #ed381f;
    border-bottom: 1px outset black;
}

.footer-link-group {
    padding-top: 10px;
}

.footer-link-group li {
    list-style-type: none;
    padding-bottom: 10px;
}

.footer-link-group a:hover {
    text-decoration: none;
    border-bottom: 1px solid #ed381f;
}

#sub-text {
    padding-top: 10px;
}

#github-icon {
    font-size: 200%;
    padding-bottom: 20px;
}


/* -------------------------------------------------------------- Home HTML */

/* ---------------------- General */
main {
    margin-top: 100px;
}


/* ---------------------- Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../../static/media/steak-img1.png") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(237, 56, 31, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}


/* ---------------------- Who we are */
#circle-cover-bg {
    background: url("../../static/media/chef-grilling.png") no-repeat top center/cover;
    width: 90vw;
    height: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}


/* ---------------------- Call to action */


/* -------------------------------------------------------------- Auth HTML */

/* ---------------------- Sign up page */
#signup {

}


/* ---------------------- Log in page */
#login {

}


/* ---------------------- Log out page */
#logout {

}