{% extends 'base.html' %}
{% load static %}

{% block title %}Charred Chops | Home{% endblock %}

{% block content %}

<section id="hero">
    <div id="cover-text">
        <h2>Come find out</h2>
        <h3>why we're the best at what we do</h3>
    </div>
</section>


<article id="who-we-are">
    <div class="container">

        <div class="row">
            <div class="col-12 text-center">
                <h2>Who we are...</h2>
            </div>
        </div>

        <div class="row">
            <div class="col" id="who-content">
                <img src="{% static 'media/chef-grilling-cropped.png' %}" alt="image of chef grilling" id="chef-pic"
                    class="d-none d-sm-block">
                <p>
                    We're more than just a steakhouse; we are a culinary destination where sizzling flavors meet
                    exceptional service.
                </p>
                <p>
                    With a passion for premium cuts and artisanal craftsmanship, we elevate the
                    steakhouse experience to new heights.
                </p>
                <p>
                    From our meticulously curated menu to our warm and inviting
                    ambiance,<br>
                    we invite you
                    to indulge in the finest cuts of meat and savor every moment with us.
                </p>
            </div>
        </div>

    </div>
</article>


<section id="call-to-action">
    <div class="container">

        <div class="row">
            <div class="col-12 text-center">
                <h2>Hungry? <i class="fa-solid fa-utensils"></i></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center">
                <div class="action-call">
                    <p>
                        <strong>Get started by registering an account!</strong>
                    </p>
                    <a href="{% url 'account_signup' %}" class="btn btn-success">Sign up!</a>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <div class="action-call">
                    <p>
                        <strong>Already have an acount? Log in!</strong>
                    </p>
                    <a href="{% url 'account_login' %}" class="btn btn-success">Log in!</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <div id="action-call-book">
                    <p>
                        <strong>Book a table with us now!</strong>
                    </p>
                    <a href="{% url 'bookingpage' %}" class="btn btn-success">Book table!</a>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}