{% extends 'base.html' %}
{% load static %}

{% block title %}Charred Chops | Menu{% endblock %}

{% block content %}

<article id="menu-article">

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    Hi! Sorry, this page is under construction at the moment.
                    <br>
                    Please check back soon!
                </h1>
                <a href="{% url 'home' %}" class="btn btn-success">Back to Home page</a>
            </div>
        </div>
    </div>

</article>

{% endblock %}